@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text__title{
  @apply text-center font-bold text-2xl
}
.size__component{
  @apply w-full max-w-screen-2xl m-auto
}
.btn__banner{
  background-color: orange;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}